{%extends 'base.html'%}

{%block title%} Bienvenido a la Biblioteca {%endblock%}

{%block content%}
    <div class="container">
        <h1>Título: {{ object.title }}</h1>
            <p>Autor: {{ object.author }}</p>
            <p>Categorías:</p>
            {% for categoria in object.categoria.all %}
                <li>{{ categoria.category_name }}</li>
            {% endfor %}
        <a href="/biblio/{{ book.id }}/update">Editar Libro </a>
        |
        <a href="book_confirm_delete">Borrar</a>
    </div>
{%endblock%}
